## Q**.1**

## **Map** **Function**

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

It's **SYNTAX**  map(function, iterables)

**For** **example**

In [ ]:
lst = ['1', '2', '3', '4', '5']
#from str to int using map()
a = map(int, lst)
print(list(a))

## **Lambda**

A lambda function is a single-line function declared with no name, which can have any number of arguments.

It's **SYNTAX** lambda(function, iterables)

**For** **example**

In [ ]:
t = lambda x : x + 2 
print(t(3))

## **Filter**

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

It's **SYNTAX** filter(function, iterable)

**For** **Example**

In [ ]:
lst = [1, 2, 3, 4, 5, 6]
b = filter(lambda x : x>3, lst)
print(list(b))

In [ ]:
x = map(lambda x:2*x, filter(lambda x: x>=3, [1,2,3,4]))
print(list(x))

In [ ]:
y = filter(lambda x:x>=3, map(lambda x:x+3, [1, 2, 3, 4]))
print(list(y))

## Q**.2**

## **Classes** **and** **Objects**

Python has been a object-oriented programming since it's Dawn.
Because of this, using classes and objects is downright easy.
 Moving ahead let's get an idea of classes and objects.

**Prototype** **of** **Class**

In [ ]:
class abc:
  'Optional documentations can be done like this'
  statm1
  statm2
  statm3

**An** **example**

In [ ]:
class Employee:
  pass
emp_1 = Employee()
emp_2 = Employee()
print(emp_1)  
print(emp_2)

In [ ]:
class Employee:
  def __init__(self, fname, lname, pay):
    self.fname = fname
    self.lname = lname
    self.pay = pay
    self.email = fname + lname + '@company.com'
emp_1 = Employee('Mikkel', 'Kahnwald', 20000)
emp_2 = Employee('Jonas', 'Kahnwald', 30000)
print(emp_1.email)
print(emp_2.fname)

In [ ]:
class Employee:
  def __init__(self, fname, lname, pay):
    self.fname = fname
    self.lname = lname
    self.pay = pay
    self.email = fname + lname + '@company.com'

#4% pay rise    
    def pay_raise(self):
    print(int(self.pay*1.04))  

emp_1 = Employee('Mikkel', 'Kahnwald', 20000)
emp_2 = Employee('Jonas', 'Kahnwald', 30000)

print('Before pay raise', emp_1.pay)
#Applying pay raise
emp_1.pay_raise()
print('With No pay raise', emp_2.pay)

In [ ]:
class PartyAnimal:
  x = 0
  
  def __init__(self):
    print("I'm constructed")
  def party(self):
    self.x = self.x + 1 
    print(self.x) 
  def __del__(self):
    print("I'm destructed", self.x)

y = PartyAnimal()
y.party()
y.party()
y = 58
print('Value of y is', y)

In [ ]:
class PartyAnimal:
  x = 0
  def __init__(self, name):
    self.name = name
    print('Welcome', self.name)
  def party(self):
    self.x = self.x + 1
    print(self.x)

class Football(PartyAnimal):
  y = 8
  def points(self):
    self.y = self.y + 1
    print(self.y)

a = PartyAnimal('XYZ')
a.party()
b= Football('ZYX')
b.points()
b.party()