## Q**.1**

In [5]:
#First complex number
c1 = 3 + 4j
#Second complex number
c2 = 19.3 - 81j
#Now subtracting the two complex numbers c1 and c2
c = c1 - c2
print(c)

(-16.3+85j)

## Q**.2**

In [7]:
#The number
n = 42
#It's forth root
r = (n)**0.25
print(r)

2.5457298950218306

## Q**.3**

In [8]:
#the two number are
a = 3
b = 4
# the temporary variable is 't'
t = None
#program to swap to numbers
t = a
a = b
b = t
#printing the two numbers
print(a)
print(b)

4
3

## Q**.4**

In [9]:
# the two numbers are 
a = 19
b = 23
#program to swap them
b = a + b
a = b - a
b = b - a
#printing the two numbers
print(a)
print(b)

23
19

## Q**.5**

In [10]:
#fahrenheit 'F'
F = 50
#from fahrenheit 'F' to celsius 'C'
C = ((F - 32) * 5) / 9
print(C)
#from fahrenheit 'F' to Kelvin 'K'
K = ((F - 32) * 5) / 9 + 273
print(K)

10.0
283.0

## Q**.6**

In [11]:
#int type
i = 36
print(type(i))
#float type
f = 3.69
print(type(f))
#string type
s = 'xyz'
print(type(s))
#complex
c = 3 + 4j
print(type(c))
#List
lst = [1, 2, 3.4, 'a']
print(type(lst))
#Tuple
t = (1, 2, 3.5, 'a')
print(type(t))
#Dictionary
ddd = {1:'a', 2:'b', 3:'c'}
print(type(ddd))
#Set
st = {1, 2, 2, 4, 3}
print(type(st))
#Boolean
bln = True
print(type(bln))
#None
nn = None
print(type(nn))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'NoneType'>