## **Q**.1

In [ ]:
import numpy as np
a = np.array([[1,2,99], [4,23,12]])
b = np.array([[8,9,3], [11,7,12]])
#Greater than
a>b

In [ ]:
#Greater_equal
a>=b

In [ ]:
#Less than
a<b

In [ ]:
#less_equal
a<=b

## **Q**.2

In [ ]:
import numpy as np
arr0 = np.zeros(10, dtype = np.int)
arr0

In [ ]:
arr1 = np.ones(10, dtype = np.int)
arr1

In [ ]:
arr5 = np.ones(10, dtype = np.int)*5
arr5

# Q.3

In [ ]:
import numpy as np
#Given array
a = np.array([[100,1,2], [43,99,12], [18,1,35]])

In [ ]:
#Sum of whole array
a.sum()

In [ ]:
#Sum of each column
a.sum(axis = 0)

In [ ]:
#Sum of each row
a.sum(axis = 1)

## **Q**.4

In [37]:
import numpy as np
#Sample inputs are 10.0, 23.0
a = 10.0
b = 23.0

In [ ]:
#Add
Addition = np.add(a, b)
Addition

In [ ]:
#Subtract
Subtraction = np.subtract(a, b)
Subtraction

In [ ]:
#Multiply
Multiplication = np.multiply(a, b)
Multiplication

In [ ]:
#Divide
Division = np.divide(a, b)
Division

## Q**.5**

In [44]:
import numpy as np
in_deg = 22.3

In [50]:
np.sin(np.array([0, 30, 45, 60 ,90])*np.pi/180)

array([0.        , 0.5       , 0.70710678, 0.8660254 , 1.        ])

In [51]:
np.cos(np.array([0, 30, 45, 60 ,90])*np.pi/180)

array([1.00000000e+00, 8.66025404e-01, 7.07106781e-01, 5.00000000e-01,
       6.12323400e-17])

In [52]:
np.tan(np.array([0, 30, 45, 60 ,90])*np.pi/180)

array([0.00000000e+00, 5.77350269e-01, 1.00000000e+00, 1.73205081e+00,
       1.63312394e+16])

## Q**.6**

In [53]:
import pandas as pd
ddd = {'First':[1,2,3,4,5], 'Second':[6,7,8,9,10], 'Third':[11,12,13,14,15]}
labels = ['a', 'b', 'c', 'd', 'e']

In [ ]:
df = pd.DataFrame(ddd, index = labels)
df

## Q**.7**

In [57]:
import pandas as pd
ddd = {'Name':['Virat', 'Rohit', 'Dhoni', 'Rishabh', 'Hardik'], 'Score':[11, 101, 54, 132, 65]}

In [ ]:
df = pd.DataFrame(ddd)
df

In [ ]:
#Selecting 'Name' column
df['Name']

In [ ]:
#Selecting 'Score' column
df['Score']

## Q**.8**

In [62]:
import pandas as pd
df1 = pd.DataFrame()
df2 = pd.DataFrame()

In [ ]:
#Joining two DataFrames
df = pd.concat([df1, df2])
df

## Q**.9**

In [ ]:
import pandas as pd
df1 = pd.DataFrame()
#Detect Null values
df.isna()

## **Q**.10

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5,6])
s