## Q**.1**

In [ ]:
#Input from user
email = input('Enter your email - ')
#For e.g., email = 'John@google.com'
#splitting the string
seperate = email.split('@')[1]
#Getting the company name
company_name = seperate.split('.')[0]
print(company_name)

## Q**.2**

In [ ]:
#Input from user
inp = input('Enter a comma-seperated sequence - ')
lst = [word for word in inp.split(',')]
out = ','.join(sorted(lst))
print(out)

## Q**.3**

## **Sets**

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements

 In Python sets are written with curly brackets.

For e.g.,

In [ ]:
a = {1, 2, 3, 4, 4, 2, 5, 12}
#Duplicate values won't be printed
print(a)

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

**Looping** **over** **a** **set**

In [ ]:
s = {'a', 'b', 'c', 'd', 'e', 'f', 'g'}
for i in s:
  print(i)

**Is**  **'a'**  **in**  **set** **s** **?**

In [ ]:
print('a' in s)

**Adding** **new** **Element** **to** **set** **s**

In [ ]:
#Using add function
s.add('Tiger')
print(s)
#Using update function
s.update(['Dog', 'Cat', 'Bear'])
print(s)

**Remove** **Items**

In [11]:
#Using remove function
s.remove('Tiger')
#Using discard function
s.discard('Dog')
#Using pop function
s.pop()
print(s)

In [ ]:
#Clear will empty the set
b = {1, 2, 3, 4, 5}
b.clear()
print(b)
#del will delete the set
del b
print(b)

**Join** **two** **sets**

In [ ]:
x = {1, 2, 3}
y = {'a', 'b' ,'c'}
z = x.union(y)
print(z)

In [ ]:
x = {1, 2, 3}
y = {'a', 'b', 'c'}
x.update(y)
print(x)

Many other things can be achieved using SETs like union, intersection, etc.

## Q**.4**

In [ ]:
inp = input('Enter n-1 numbers ranging from 1 to n: ')
#For e.g., inp = '1 2 4 6 3 7 8'
lst = inp.split()
lst = [int(i) for i in lst]
sorted_lst = sorted(lst)
new_lst = [x for x in range(min(sorted_lst), max(sorted_lst)+1) if x not in sorted_lst]
print(' '.join(map(str, new_lst)))

### Q**.5**

In [ ]:
inp = input('Enter the input list')
#for e.g., inp = '12 24 35 24 88 120 155 88 120 155'
new_lst = []
for num in inp.split():
  if num in new_lst:
    pass#Duplicate elements will not be considered in the list
  else:
    new_lst.append(num)
print(' '.join(new_lst))