## Q**.1**

In [ ]:
#Take two complex numbers
c1 = 3 + 4j
c2 = 19 + 12.5j
#Addition
add = c1 + c2
print('Addition', add)
#Subraction
sub = c1 - c2
print('Subtraction', sub)
#Multiplication
mul = c1*c2
print('Multiplication', mul)
#Division
div = c1/c2
print('Division', div)

In [ ]:
#Floor division
#It can't be performed for complex numbers
#so it will throw an error
flr = c1//c2

In [ ]:
#Modulo also can't be performed for complex numbers
#so it will throw an error
mod = c1%c2

## Q**.2**

##RANGE Function
It gives a range of values

Range is a inclusive function

 i.e., range(n) -> it will give n values starting from 0 to n-1. n cannot be of float data type.

 In general it is expressed as:

range(start, stop, step(optional))

In [ ]:
#range function
#example 1
print(range(10))
#example2
print(range(3, 10, 2))

## Q**.3**

In [ ]:
#Two numbers
a = 33
b = 17
sub = a - b
if sub > 25:
  print(a*b)
else:
  print(a/b)

## Q**.4**

In [ ]:
#a List
lst = [1, 2, 3, 4, 5 ,6, 7, 8, 9, 10]
for number in lst:
  if number%2 == 0:
    print(number**2 - 2)

## Q**.5**

In [ ]:
#a List
lst = [1, 29.5, 98, 102, 33.67, 22, 63, 88, 10, 7]
for number in lst:
  number1 = number/2
  if number1 > 7:
    print(number)